/**
 *  (c) pixelmotor.com
 *      Andreas Jonderko
 *      
 *      1 column design  
 */


div.box_metafunctions {background-color: #ffffff; padding: 10px; }


div#wrapcontent{
  height: 100%;
  min-height: 100%;
  height: auto;
  margin: 0;
  padding: 20px 30px 10px 30px;
  background-color: #b3d7ee;
}
div#content_1{
  width: 100%;
}
div#content_2{
  width: 0px;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
}

div.content_element{
  padding: 0px 10px 10px 10px;
  margin-bottom: 10px; 
}
div.csc-frame-frame1{
  padding: 0px 10px 10px 10px;
  margin-bottom: 10px; 
}
div.csc-frame-frame2{
  padding: 0px 10px 10px 10px;
  margin-bottom: 10px; 
}